<!-- <div mat-dialog-title>
    
</div> -->

<mat-dialog-content *ngIf="formGroup">
    <div class="row mt-3" [formGroup]="formGroup">
        <div class="col-5">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{'APP.MODELS-COMPONENT.TOPIC-MODELS-LISTING-COMPONENT.NEW-TOPIC-MODEL-DIALOG.NAME' |
                    translate}}</mat-label>
                <input type="text" matInput formControlName="name">
                <mat-error>{{'COMMONS.VALIDATION.REQUIRED' | translate}}</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{'APP.MODELS-COMPONENT.TOPIC-MODELS-LISTING-COMPONENT.NEW-TOPIC-MODEL-DIALOG.CORPUS' |
                    translate}}</mat-label>
                <mat-select formControlName="corpus" (selectionChange)="onCorpusSelected($event)">
                    <mat-option [value]="item" *ngFor="let item of availableCorpora">
                        {{item}}
                    </mat-option>
                </mat-select>
                <mat-error>{{'COMMONS.VALIDATION.REQUIRED' | translate}}</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{'APP.MODELS-COMPONENT.TOPIC-MODELS-LISTING-COMPONENT.NEW-TOPIC-MODEL-DIALOG.TYPE' |
                    translate}}</mat-label>
                <mat-select formControlName="type" (selectionChange)="onTypeSelected($event)">
                    <mat-option [value]="item" *ngFor="let item of availableTypes">
                        {{enumUtils.toTopicModelTypeString(item)}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-7">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{'APP.MODELS-COMPONENT.TOPIC-MODELS-LISTING-COMPONENT.NEW-TOPIC-MODEL-DIALOG.DESCRIPTION' |
                    translate}}</mat-label>
                <textarea matInput formControlName="description" rows="8"></textarea>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div *ngIf="params.length" class="col-12">
            <app-model-parameters-table [parameters]="params" [formGroup]="formGroup"></app-model-parameters-table>
        </div>
    </div>

    <div class="row">
        <div class="col-auto">
            <mat-checkbox (change)="onPrivateChange($event)" [checked]="isPrivate">
                {{'APP.MODELS-COMPONENT.TOPIC-MODELS-LISTING-COMPONENT.NEW-TOPIC-MODEL-DIALOG.PRIVATE' | translate}}
            </mat-checkbox>
        </div>
    </div>

    <div class="row">
        <div class="col-auto">
            <mat-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="advanced">
                {{'APP.MODELS-COMPONENT.TOPIC-MODELS-LISTING-COMPONENT.NEW-TOPIC-MODEL-DIALOG.ADVANCED-OPTIONS' |
                translate}}</mat-checkbox>
        </div>
    </div>
    <div class="row" *ngIf="advanced">
        <p *ngIf="!advancedParams.length" class="mt-2">No advanced options currently available</p>
        <div *ngIf="advancedParams.length" class="col-12 mt-4">
            <app-model-parameters-table [parameters]="advancedParams"
                [formGroup]="formGroup"></app-model-parameters-table>
        </div>
    </div>

    <div class="mb-2" *ngIf="!advanced"></div>
</mat-dialog-content>

<mat-dialog-actions align="end" *ngIf="formGroup">
    <div class="col-auto">
        <button mat-button
            (click)="close()">{{'APP.MODELS-COMPONENT.TOPIC-MODELS-LISTING-COMPONENT.NEW-TOPIC-MODEL-DIALOG.CANCEL'
            | translate}}</button>
    </div>
    <div class="col-auto">
        <button mat-raised-button [disabled]="!formGroup.valid" color="accent"
            (click)="create()">{{'APP.MODELS-COMPONENT.TOPIC-MODELS-LISTING-COMPONENT.NEW-TOPIC-MODEL-DIALOG.SUBMIT'
            | translate}}</button>
    </div>
</mat-dialog-actions>