<div class="col-12 pt-3" [formGroup]="formGroup">


    <div class="row align-items-center">
        <mat-form-field appearance="outline" class="col-auto">
            <input formControlName="tag" type="text" matInput [placeholder]="'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-SELECTION-FUNCTION-DIALOG.TAG-PLACEHOLDER' | translate">
        </mat-form-field>
    </div>

    <div class="row align-items-end">
        <div class="col-12 col-lg-6">
            <div class="row align-items-center">
                <div class="col-auto">
                    <h6>{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-SELECTION-FUNCTION-DIALOG.CORPUS' | translate}}</h6>
                </div>
                <mat-form-field appearance="outline" class="col">
                    <input type="text" matInput formControlName="corpusId" value="Semantic Scholar">
                </mat-form-field>
            </div>
        </div>
        <div class="d-none d-lg-block col"></div>
        <div class="col-12 col-lg-3">
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>
                            n_max
                        </th>
                        <th>
                            s_min
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2000</td>
                        <td>.2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



    <div class="row mb-4">
        <table class="table table-bordered text-center">
            <thead class="table-head-gray">
                <tr>
                    <th>{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-SELECTION-FUNCTION-DIALOG.TOPIC-ID' | translate}}</th>
                    <th>{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-SELECTION-FUNCTION-DIALOG.TOPIC-DESCRIPTION' | translate}}</th>
                    <th>{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-SELECTION-FUNCTION-DIALOG.TOPIC-WEIGHT' | translate}}</th>
                </tr>
            </thead>
            <tbody class="bg-white">
                <tr *ngFor="let item of tableItems">
                    <td>
                        {{item.id}}
                    </td>
                    <td>
                        {{item.description}}
                    </td>
                    <td>
                        {{item.weight}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    
    <div class="row">
        <div class="col-auto">
            <mat-checkbox formControlName="private">{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-SELECTION-FUNCTION-DIALOG.PRIVATE' | translate}}</mat-checkbox>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <mat-checkbox (ngModelChange)="updateAdvanced($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="advanced">{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-SELECTION-FUNCTION-DIALOG.ADVANCED-OPTIONS' | translate}}</mat-checkbox>
        </div>
    </div>

    <ng-container *ngIf="advanced">
        <div class="row mt-4">
            <div class="col-3">{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-SELECTION-FUNCTION-DIALOG.TYPE' | translate}}</div>
            <div class="col-auto">
                <mat-form-field>
                    <mat-label>{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-SELECTION-FUNCTION-DIALOG.TYPE-PLACEHOLDER' | translate}}</mat-label>
                    <mat-select  formControlName="type">
                        <mat-option [value]="item" *ngFor="let item of availableTypes">
                            {{enumUtils.toDomainModelTypeString(item)}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-auto">
                <mat-form-field>
                    <mat-label>{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-SELECTION-FUNCTION-DIALOG.CLASS-PLACEHOLDER' | translate}}</mat-label>
                    <mat-select formControlName="subtype">
                        <mat-option [value]="item" *ngFor="let item of availableSubTypes">
                            {{enumUtils.toDomainModelSubtypeString(item)}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-3">{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-SELECTION-FUNCTION-DIALOG.NUMBER-OF-HEADS' | translate}}</div>
            <div class="col-auto">
                <mat-form-field appearance="outline">
                    <input type="number" matInput  formControlName="numberOfHeads">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-3">{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-SELECTION-FUNCTION-DIALOG.DEPTH' | translate}}</div>
            <div class="col-auto">
                <mat-form-field appearance="outline">
                    <input type="number" matInput formControlName="depth">
                </mat-form-field>
            </div>
        </div>
    </ng-container>


    <div class="row justify-content-end">
        <div class="col-auto">
            <button mat-button (click)="close()">{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-SELECTION-FUNCTION-DIALOG.CANCEL' | translate}}</button>
        </div>
        <div class="col-auto">
            <button mat-raised-button color="accent" (click)="create()">{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-SELECTION-FUNCTION-DIALOG.SUBMIT' | translate}}</button>
        </div>
    </div>
</div>
