<!-- <div mat-dialog-title>
    
</div> -->

<mat-dialog-content *ngIf="formGroup">

    <div class="row mt-3" [formGroup]="formGroup">
        <div class="col-12 col-lg-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-SELECTION-FUNCTION-DIALOG.NAME'
                    | translate}}</mat-label>
                <input type="text" matInput formControlName="name">
                <mat-error>{{'COMMONS.VALIDATION.REQUIRED' | translate}}</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-SELECTION-FUNCTION-DIALOG.CORPUS' |
                    translate}}</mat-label>
                <mat-select formControlName="corpus" (selectionChange)="onCorpusSelected($event)">
                    <mat-option [value]="item" *ngFor="let item of availableCorpora">
                        {{item}}
                    </mat-option>
                </mat-select>
                <mat-error>{{'COMMONS.VALIDATION.REQUIRED' | translate}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-SELECTION-FUNCTION-DIALOG.TAG'
                    | translate}}</mat-label>
                <input type="text" matInput formControlName="tag">
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-SELECTION-FUNCTION-DIALOG.MODEL' |
                    translate}}</mat-label>
                <mat-select (selectionChange)="onModelSelected($event)" [disabled]="!availableModels">
                    <mat-option [value]="item" *ngFor="let item of availableModels">
                        {{item}}
                    </mat-option>
                </mat-select>
                <mat-error>{{'COMMONS.VALIDATION.REQUIRED' | translate}}</mat-error>
            </mat-form-field>
        </div>
        <div *ngIf="params.length" class="col-12 col-lg-6">
            <app-model-parameters-table [parameters]="params" [formGroup]="formGroup" [maxParamsPerRow]="3"></app-model-parameters-table>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-KEYWORDS-LIST-DIALOG.DESCRIPTION'
                    |
                    translate}}</mat-label>
                <textarea matInput formControlName="description" rows="5"></textarea>
            </mat-form-field>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <table class="table table-bordered text-center" [formGroup]="topicWeightsFormGroup">
                <thead class="table-head-gray">
                    <tr>
                        <th>{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-SELECTION-FUNCTION-DIALOG.TOPIC-ID'
                            | translate}}</th>
                        <th>{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-SELECTION-FUNCTION-DIALOG.TOPIC-DESCRIPTION'
                            | translate}}</th>
                        <th>{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-SELECTION-FUNCTION-DIALOG.TOPIC-WEIGHT'
                            | translate}}</th>
                    </tr>
                </thead>
                <tbody class="bg-white" *ngIf="topics.length">
                    <tr *ngFor="let item of topics; index as i">
                        <td>
                            {{item.id}}
                        </td>
                        <td>
                            {{item.description}}
                        </td>
                        <td>
                            <input matInput type="number" step="0.0001" min="0" max="1" [formControl]="weightsInputs.controls[i]">
                        </td>
                    </tr>
                </tbody>
                <tbody class="bg-white" *ngIf="!topics.length">
                    <tr>
                        <td colspan="3" class="text-center w-100 p-2">Select a topic model above to view the topics</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-auto">
            <mat-checkbox (change)="onPrivateChange($event)" [checked]="isPrivate">
                {{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-SELECTION-FUNCTION-DIALOG.PRIVATE' | translate}}
            </mat-checkbox>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <mat-checkbox [ngModelOptions]="{standalone: true}"
                [(ngModel)]="advanced">{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-SELECTION-FUNCTION-DIALOG.ADVANCED-OPTIONS'
                | translate}}</mat-checkbox>
        </div>
    </div>
    <ng-container *ngIf="advanced" [formGroup]="classifierFormGroup">
        <div class="row mt-4">
            <div class="col-12">
                <app-model-parameters-table [parameters]="advancedParams" [formGroup]="classifierFormGroup" [maxParamsPerRow]="4"></app-model-parameters-table>                
            </div>
        </div>
    </ng-container>

    <div class="row">
        <div class="col-auto">
            <mat-checkbox [ngModelOptions]="{standalone: true}"
                [(ngModel)]="advancedForAL">{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-SELECTION-FUNCTION-DIALOG.ADVANCED-FOR-AL-OPTIONS'
                | translate}}</mat-checkbox>
        </div>
    </div>
    <ng-container *ngIf="advancedForAL" [formGroup]="activeLearningFormGroup">
        <div class="row mt-4">
            <div class="col-12">
                <app-model-parameters-table [parameters]="advancedParamsForAL" [formGroup]="activeLearningFormGroup" [maxParamsPerRow]="4"></app-model-parameters-table>                
            </div>
        </div>
    </ng-container>

    <div class="mb-2" *ngIf="!advancedParamsForAL"></div>
</mat-dialog-content>

<mat-dialog-actions align="end" *ngIf="formGroup && classifierFormGroup">
    <div class="col-auto">
        <button mat-button
            (click)="close()">{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-SELECTION-FUNCTION-DIALOG.CANCEL'
            | translate}}</button>
    </div>
    <div class="col-auto">
        <button mat-raised-button [disabled]="true" color="accent"
            (click)="create()">{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-SELECTION-FUNCTION-DIALOG.SUBMIT'
            | translate}}</button>
    </div>
</mat-dialog-actions>