<mat-toolbar class="align-items-center" >

    <div class="col-11">
        <div class="row align-items-center">
            <div *ngIf="modelSelecrionService.model" class="col-auto">
                <mat-icon>model_training</mat-icon>
            </div>
            <div *ngIf="modelSelecrionService.model" class="col-auto">
                <div class="footer-selected-model">{{modelSelecrionService.model}}</div>
            </div>
            <div *ngIf="modelSelecrionService.corpus" class="col-auto">
                <mat-icon>content_copy</mat-icon>
            </div>
            <div *ngIf="modelSelecrionService.corpus" class="col-auto">
                <div class="footer-selected-model">{{modelSelecrionService.corpus}}</div>
            </div>

            <!-- <div class="col-auto" *ngIf="trainingModels?.length">
                <button mat-button (click)="makeAllFinished()">
                    make all finished
                </button>
            </div> -->
            <div class="col-auto" *ngIf="trainingModels?.length">
                Training tasks: 
            </div>
            <div class="col-auto d-flex align-items-center">
                <button mat-icon-button (click)="openTrainingDialog(item)" *ngFor="let item of trainingModels" [class.finished]="item.finished" [matTooltip]="item.label" class="training-model-item">
                    <mat-icon>
                        model_training
                    </mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="col-1">
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
                <small>
                    v1.1
                </small>
            </div>
        </div>
    </div>
</mat-toolbar>