<mat-toolbar class="align-items-center" >

    <div class="col-11">
        <div class="row align-items-center">
            <div class="col-auto " *ngIf="trainingModels?.length">
                {{'APP.FOOTER.TASKS.RUNNING' | translate}}: 
            </div>
            <div class="col-auto mr-3 d-flex align-items-center" *ngIf="trainingModels?.length">
                <button mat-icon-button (click)="openTrainingDialog(item)" *ngFor="let item of trainingModels" [class.finished]="item.finished" [matTooltip]="item.label" class="training-model-item">
                    <mat-icon>
                        model_training
                    </mat-icon>
                </button>
            </div>
            <div class="col-auto" *ngIf="finishedModels?.length">
                {{'APP.FOOTER.TASKS.FINISHED' | translate}}: 
            </div>
            <div class="col-auto mr-3 d-flex align-items-center" *ngIf="finishedModels?.length">
                <button mat-icon-button (click)="openTrainingDialog(item)" *ngFor="let item of finishedModels" [class.finished]="item.finished" [matTooltip]="item.label" class="training-model-item">
                    <mat-icon>
                        model_training
                    </mat-icon>
                </button>
            </div>
            <div class="col-auto" *ngIf="finishedModels?.length">
                <button mat-raised-button color="accent" (click)="clearAllFinished()" [disabled]="clearingFinished">
                    {{'APP.FOOTER.TASKS.CLEAR-ALL' | translate}}
                    <mat-icon *ngIf="clearingFinished">
                        <mat-spinner color="accent" diameter="20"></mat-spinner>
                    </mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="col-1">
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
                <small>
                    v1.1
                </small>
            </div>
        </div>
    </div>
</mat-toolbar>