<div class="row m-0 button-tabs mb-2 mt-5">
    <button mat-stroked-button [class.background-gray]="selectedView === ViewSelection.Stopwords" (click)="setSelectedView(ViewSelection.Stopwords)">
        {{'APP.WORD-LIST-COMPONENT.STOPWORDS-AND-EQUIVALENCIES-COMPONENT.STOPWORDS' | translate}}
    </button>
    <button mat-stroked-button [class.background-gray]="selectedView === ViewSelection.Equivalencies" (click)="setSelectedView(ViewSelection.Equivalencies)">
        {{'APP.WORD-LIST-COMPONENT.STOPWORDS-AND-EQUIVALENCIES-COMPONENT.EQUIVALENCIES' | translate}}
    </button>
</div>


<ng-container [ngSwitch]="selectedView">
    <app-stopwords-listing #stopWordsListingComponent (onStopwordSelect)="onSelectItem($event)"  *ngSwitchCase="ViewSelection.Stopwords"></app-stopwords-listing>
    <app-equivalencies-listing #equivalenciesListingComponent (onEquivalenceSelect)="onSelectItem($event)"  *ngSwitchCase="ViewSelection.Equivalencies"></app-equivalencies-listing>
</ng-container>