<!-- <div mat-dialog-title>
    
</div> -->

<mat-dialog-content *ngIf="formGroup">

    <div class="row mt-3" [formGroup]="formGroup">
        <div class="col-12 col-lg-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-KEYWORDS-LIST-DIALOG.NAME'
                    | translate}}</mat-label>
                <input type="text" matInput formControlName="name">
                <mat-error>{{'COMMONS.VALIDATION.REQUIRED' | translate}}</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-KEYWORDS-LIST-DIALOG.CORPUS'
                    |
                    translate}}</mat-label>
                <mat-select formControlName="corpus" (selectionChange)="onCorpusSelected($event)">
                    <mat-option [value]="item.Dtsets[0].source" *ngFor="let item of availableCorpora">
                        {{item.name}}
                    </mat-option>
                </mat-select>
                <mat-error>{{'COMMONS.VALIDATION.REQUIRED' | translate}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-KEYWORDS-LIST-DIALOG.DOMAIN-NAME'
                    | translate}}</mat-label>
                <input type="text" matInput formControlName="tag">
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-KEYWORDS-LIST-DIALOG.DESCRIPTION'
                    |
                    translate}}</mat-label>
                <textarea matInput formControlName="description" rows="4"></textarea>
            </mat-form-field>
        </div>
        <div *ngIf="params.length" class="col-12 col-lg-6">
            <app-model-parameters-table [parameters]="params" [formGroup]="formGroup"
                [maxParamsPerRow]="2"></app-model-parameters-table>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 col-lg-6">
            <h6 class="text-bold">
                {{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-KEYWORDS-LIST-DIALOG.SUGGESTED-KEYWORDS'
                | translate}}</h6>
            <div class="row">
                <div class="col-10">
                    <mat-form-field class="w-100 mt-2" appearance="outline">
                        <mat-label>{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-KEYWORDS-LIST-DIALOG.KEYWORD'
                            |
                            translate}}</mat-label>
                        <mat-select (selectionChange)="onKeywordListSelected($event)"
                            [disabled]="!availableKeywordLists">
                            <mat-option [value]="item" *ngFor="let item of availableKeywordLists">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-2 mt-3">
                    <button mat-button (click)="addAll()" [disabled]="!availableKeywordLists || !keywords?.length">Add all</button>
                </div>
            </div>

            <div class="keyword-container">
                <mat-chip-list>
                    <mat-chip class="cursor-pointer" *ngFor="let item of keywords; let index = index"
                        (click)="addKeyword($event.target.innerText)">
                        {{item}}
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>
        <div class="col">
            <h6 class="text-bold">
                {{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-KEYWORDS-LIST-DIALOG.SELECTED-KEYWORDS'
                | translate}} 
                <span *ngIf="this.selectedKeywords?.size" class="clear-all-keywords" (click)="clearAll()">Clear</span>
            </h6>
            <div class="keyword-container text-muted h-100">
                <mat-chip-list>
                    <mat-chip *ngFor="let item of selectedKeywords;">
                        {{item}}
                        <button matChipRemove (click)="removeKeyword(item)">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-auto">
            <mat-checkbox (change)="onPrivateChange($event)" [checked]="isPrivate">
                {{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-KEYWORDS-LIST-DIALOG.PRIVATE'
                | translate}}
            </mat-checkbox>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-auto">
            <mat-checkbox [ngModelOptions]="{standalone: true}"
                [(ngModel)]="advanced">{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-KEYWORDS-LIST-DIALOG.ADVANCED-OPTIONS'
                | translate}}</mat-checkbox>
        </div>
    </div>
    <ng-container *ngIf="advanced" [formGroup]="classifierFormGroup">
        <div class="row mt-4">
            <div class="col-12">
                <app-model-parameters-table [parameters]="advancedParams" [formGroup]="classifierFormGroup" [maxParamsPerRow]="4"></app-model-parameters-table>                
            </div>
        </div>
    </ng-container>

    <div class="row">
        <div class="col-auto">
            <mat-checkbox [ngModelOptions]="{standalone: true}"
                [(ngModel)]="advancedForAL">{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-KEYWORDS-LIST-DIALOG.ADVANCED-FOR-AL-OPTIONS'
                | translate}}</mat-checkbox>
        </div>
    </div>
    <ng-container *ngIf="advancedForAL" [formGroup]="activeLearningFormGroup">
        <div class="row mt-4">
            <div class="col-12">
                <app-model-parameters-table [parameters]="advancedParamsForAL" [formGroup]="activeLearningFormGroup" [maxParamsPerRow]="4"></app-model-parameters-table>                
            </div>
        </div>
    </ng-container>

    <div class="mb-2" *ngIf="!advancedParamsForAL"></div> -->
    <div class="mb-2"></div>
</mat-dialog-content>

<mat-dialog-actions align="end" *ngIf="formGroup && classifierFormGroup">
    <div class="col-auto">
        <button mat-button
            (click)="close()">{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-KEYWORDS-LIST-DIALOG.CANCEL'
            | translate}}</button>
    </div>
    <div class="col-auto">
        <button mat-raised-button [disabled]="!valid" color="accent"
            (click)="create()">{{'APP.MODELS-COMPONENT.DOMAIN-MODELS-LISTING-COMPONENT.NEW-DOMAIN-MODEL-FROM-KEYWORDS-LIST-DIALOG.SUBMIT'
            | translate}}</button>
    </div>
</mat-dialog-actions>