<table *ngFor="let row of paramRows; trackBy: trackByIndex" class="table" [formGroup]="formGroup">
  <thead class="table-head-gray">
    <tr>
      <th *ngFor="let param of row.parameters; trackBy: trackByIndex">
        {{param.displayName | translate}}
        <mat-icon *ngIf="param.tooltip" [matTooltip]="translate.instant(param.tooltip)" matTooltipPosition="above"
          color="accent">info</mat-icon>
      </th>
    </tr>
  </thead>
  <tbody class="bg-white">
    <tr>
      <td *ngFor="let param of row.parameters; trackBy: trackByIndex">
        <input *ngIf="param.type == 'number'" matInput [type]="param.type" [formControlName]="param.name"
          [placeholder]="param.placeholder ? translate.instant(param.placeholder) : translate.instant(param.name)"
          [min]="param.validation?.min" [max]="param.validation?.max" [step]="param.validation?.step" />
        <input *ngIf="param.type == 'string'" matInput [type]="param.type" [formControlName]="param.name" />
        <mat-select *ngIf="param.type == 'select'" matInput [formControlName]="param.name"
          [placeholder]="param.placeholder ? translate.instant(param.placeholder) : translate.instant(param.name)">
          <mat-option *ngFor="let option of param.validation?.options; trackBy: trackByItem" [value]="option.value"
            [title]="translate.instant(option.displayName)">
            {{option.displayName | translate}}
          </mat-option>
        </mat-select>
        <mat-select *ngIf="param.type == 'rawselect'" matInput [formControlName]="param.name"
          [placeholder]="param.placeholder ? translate.instant(param.placeholder) : translate.instant(param.name)">
          <mat-option *ngFor="let option of param.validation?.rawOptions; trackBy: trackByLabel" [value]="option"
            [title]="option">
            {{option}}
          </mat-option>
        </mat-select>
        <mat-select *ngIf="param.type == 'multiselect'" matInput [formControlName]="param.name" multiple
          [placeholder]="param.placeholder ? translate.instant(param.placeholder) : translate.instant(param.name)">
          <mat-option *ngFor="let option of param.validation?.options; trackBy: trackByItem" [value]="option.value"
            [title]="translate.instant(option.displayName)">
            {{option.displayName | translate}}
          </mat-option>
        </mat-select>
        <mat-select *ngIf="param.type == 'rawmultiselect'" matInput [formControlName]="param.name" multiple
          [placeholder]="param.placeholder ? translate.instant(param.placeholder) : translate.instant(param.name)">
          <mat-option *ngFor="let option of param.validation?.rawOptions; trackBy: trackByLabel" [value]="option"
            [title]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </td>
    </tr>
  </tbody>
</table>