.button-tabs{
    border-bottom: 1px solid #e7e7e7;
}

@media screen and (min-width: 992px) {
    .details-sticky{
        position: sticky; 
        top: 1px;
        height: calc(100vh - 128px);
        overflow-y: auto;
    }
}
