<div class="row m-0 h-100">
    <div class="col-12 col-lg-8 p-4">
        <router-outlet (activate)="onAttach($event)"></router-outlet>
    </div>

    <div class="col background-gray">
        <div class="row details-sticky pb-2">
            <div class="col-12">
                <ng-container *ngIf="modelSelected else noneSelected">
                    <div class="row justify-content-between pt-2 pb-2 align-items-center background-gray-dark">
                        <div class="col-auto">
                            <h5 class="mb-0">
                                {{modelTitle}}
                            </h5>
                        </div>

                        <!-- TOPIC MODEL HEADER ACTIONS -->

                        <div class="col-auto" *ngIf="isTopicModelListing">
                            <button mat-icon-button [matTooltip]="language.instant('APP.COMMONS.TOOLTIP.RENAME')"
                                [disabled]="curatingTopicModel" (click)="onEdit()">
                                <mat-icon>
                                    edit
                                </mat-icon>
                            </button>
                            <button mat-icon-button [matTooltip]="language.instant('APP.COMMONS.TOOLTIP.UPDATE')"
                                [disabled]="curatingTopicModel" (click)="onEdit(true)">
                                <mat-icon>
                                    update
                                </mat-icon>
                            </button>
                            <button mat-icon-button [matTooltip]="language.instant('APP.COMMONS.TOOLTIP.COPY')"
                                [disabled]="curatingTopicModel" (click)="onCopy()">
                                <mat-icon>
                                    content_copy
                                </mat-icon>
                            </button>
                            <button mat-icon-button [matTooltip]="language.instant('APP.COMMONS.TOOLTIP.DELETE')"
                                [disabled]="curatingTopicModel" (click)="onDelete()">
                                <mat-icon>
                                    delete
                                </mat-icon>
                            </button>
                        </div>

                        <!-- DOMAIN MODEL HEADER ACTIONS -->

                        <div class="col-auto" *ngIf="isDomainModelListing">
                            <button mat-icon-button [matTooltip]="language.instant('APP.COMMONS.TOOLTIP.RENAME')"
                                (click)="onEdit()">
                                <mat-icon>
                                    edit
                                </mat-icon>
                            </button>
                            <button mat-icon-button [matTooltip]="language.instant('APP.COMMONS.TOOLTIP.UPDATE')"
                                (click)="onEdit(true)">
                                <mat-icon>
                                    update
                                </mat-icon>
                            </button>
                            <button mat-icon-button [matTooltip]="language.instant('APP.COMMONS.TOOLTIP.COPY')"
                                (click)="onCopy()">
                                <mat-icon>
                                    content_copy
                                </mat-icon>
                            </button>
                            <button mat-icon-button [matTooltip]="language.instant('APP.COMMONS.TOOLTIP.DELETE')"
                                (click)="onDelete()">
                                <mat-icon>
                                    delete
                                </mat-icon>
                            </button>
                        </div>
                    </div>
                    <h5 class="mt-2">
                        {{'APP.MODELS-COMPONENT.DETAILS' | translate}}
                    </h5>
                    <div class="row mt-2 mb-2" *ngFor="let item of modelDetails">
                        <div class="col-6">
                            {{item.label | translate}}
                        </div>
                        <div *ngIf="!item.button" class="col-6">
                            {{item.value}}
                        </div>
                        <div *ngIf="item.button" class="col-6">
                            <button mat-raised-button color="accent"
                                [disabled]="curatingTopicModel || trainingParamsLoading" (click)="item.action()">
                                {{item.value | translate}}
                                <mat-icon *ngIf="trainingParamsLoading">
                                    <mat-spinner color="accent" diameter="20"></mat-spinner>
                                </mat-icon>
                            </button>
                        </div>
                    </div>

                    <!-- ACTIONS BELOW MODEL DETAILS -->

                    <div class="row justify-content-center mt-4 mb-4">

                        <!-- TOPIC MODEL ACTIONS -->

                        <ng-container *ngIf="isTopicModelListing">
                            <div class="col-auto">
                                <button mat-raised-button color="accent" [disabled]="curatingTopicModel"
                                    class="rounded-button mb-2" [matMenuTriggerFor]="newModelMenu">
                                    {{'APP.MODELS-COMPONENT.CURATE' | translate}}
                                    <mat-icon>
                                        arrow_drop_down
                                    </mat-icon>
                                </button>
                                <mat-menu #newModelMenu="matMenu">
                                    <button mat-menu-item
                                        (click)="onSetTopicLabels()">{{'APP.MODELS-COMPONENT.CURATE-OPTIONS.LABEL-TOPICS'
                                        |
                                        translate}}</button>
                                    <button mat-menu-item
                                        (click)="onShowSimilarTopics()">{{'APP.MODELS-COMPONENT.CURATE-OPTIONS.SHOW-SIMILAR-TOPICS'
                                        | translate}}</button>
                                    <button mat-menu-item
                                        (click)="onFuseTopics()">{{'APP.MODELS-COMPONENT.CURATE-OPTIONS.FUSE-TOPICS' |
                                        translate}}</button>
                                    <button mat-menu-item
                                        (click)="onSortTopics()">{{'APP.MODELS-COMPONENT.CURATE-OPTIONS.SORT-TOPICS' |
                                        translate}}</button>
                                    <button mat-menu-item
                                        (click)="onDeleteTopics()">{{'APP.MODELS-COMPONENT.CURATE-OPTIONS.DELETE-TOPICS'
                                        | translate}}</button>
                                </mat-menu>
                            </div>
                            <div class="col-auto">
                                <button mat-raised-button (click)="showPyLDAvis()" [disabled]="curatingTopicModel"
                                    color="accent" class="rounded-button mb-2">
                                    {{'APP.MODELS-COMPONENT.LDA-VIS' | translate}}
                                </button>
                            </div>
                            <div class="col-auto">
                                <button mat-raised-button (click)="onReset()" [disabled]="curatingTopicModel"
                                    color="accent" class="rounded-button mb-2">
                                    {{'APP.MODELS-COMPONENT.RESET' | translate}}
                                </button>
                            </div>
                        </ng-container>

                        <!-- DOMAIN MODEL ACTIONS -->

                        <ng-container *ngIf="isDomainModelListing">
                            <div class="col-auto">
                                <button mat-raised-button (click)="onDomainSample()" color="accent"
                                    class="rounded-button mb-2" [disabled]="curatingDomainModel">
                                    {{'APP.MODELS-COMPONENT.SAMPLE' | translate}}
                                </button>
                            </div>
                            <div class="col-auto">
                                <button mat-raised-button (click)="onDomainRetrain()" color="accent"
                                    class="rounded-button mb-2" [disabled]="curatingDomainModel">
                                    {{'APP.MODELS-COMPONENT.RETRAIN' | translate}}
                                </button>
                            </div>
                            <div class="col-auto">
                                <button mat-raised-button (click)="onDomainClassify()" color="accent"
                                    class="rounded-button mb-2" [disabled]="curatingDomainModel">
                                    {{'APP.MODELS-COMPONENT.CLASSIFY' | translate}}
                                </button>
                            </div>
                            <div class="col-auto">
                                <button mat-raised-button (click)="onDomainEvaluate()" color="accent"
                                    class="rounded-button mb-2" [disabled]="curatingDomainModel">
                                    {{'APP.MODELS-COMPONENT.EVALUATE' | translate}}
                                </button>
                            </div>
                        </ng-container>
                    </div>

                    <!-- INFORMING USER ABOUT MODEL STATE -->

                    <div class="row m-3 p-3 running-task-message" *ngIf="curatingTopicModel || curatingDomainModel">
                        <div class="col-1">
                            <mat-icon>info</mat-icon>
                        </div>
                        <div class="col-10">
                            <span>{{'APP.MODELS-COMPONENT.USER-MESSAGES.MODEL-PROCESSING' | translate}}</span>
                        </div>
                        <div class="col-1">
                            <mat-spinner color="accent" diameter="30"></mat-spinner>
                        </div>
                    </div>
                    <div class="row m-3 p-3 running-task-message" *ngIf="curatingDomainModelFinished?.length">
                        <div class="col-1">
                            <mat-icon>info</mat-icon>
                        </div>
                        <div class="col-9">
                            <span>{{'APP.MODELS-COMPONENT.USER-MESSAGES.RECENT-TASKS' | translate}}</span>
                        </div>
                        <div class="col-1">
                            <button mat-icon-button [matTooltip]="language.instant('APP.COMMONS.TOOLTIP.VIEW')"
                                (click)="showCuratingResults()">
                                <mat-icon>view_headline</mat-icon>
                            </button>
                        </div>
                        <div class="col-1" *ngIf="!recentTasksRemoving">
                            <button mat-icon-button [matTooltip]="language.instant('APP.COMMONS.TOOLTIP.CLEAR')"
                                (click)="clearCuratingResults()">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                        <div class="col-1" *ngIf="recentTasksRemoving">
                            <mat-spinner class="recent-tasks-removing" color="accent" diameter="20"></mat-spinner>
                        </div>
                    </div>

                    <!-- TOPIC DETAILS -->

                    <ng-container *ngIf="topicSelected">
                        <div class="row justify-content-between pt-2 pb-2 align-items-center background-gray-dark">
                            <div class="col-auto">
                                <h5 class="mb-0">
                                    {{topicTitle}}
                                </h5>
                            </div>
                            <div class="col-auto">
                                <button mat-icon-button [disabled]="curatingTopicModel" (click)="onRenameTopic()"
                                    [matTooltip]="language.instant('APP.MODELS-COMPONENT.CURATE-OPTIONS.LABEL-TOPIC')">
                                    <mat-icon>
                                        edit
                                    </mat-icon>
                                </button>
                                <button mat-icon-button [disabled]="curatingTopicModel" (click)="onDeleteTopic()"
                                    [matTooltip]="language.instant('APP.COMMONS.TOOLTIP.DELETE')">
                                    <mat-icon>
                                        delete
                                    </mat-icon>
                                </button>
                            </div>
                        </div>
                        <h5 class="mt-2">
                            {{'APP.MODELS-COMPONENT.DETAILS' | translate}}
                        </h5>
                        <div class="row mt-2 mb-2" *ngFor="let item of topicDetails">
                            <div class="col-6">
                                {{item.label | translate}}
                            </div>
                            <div *ngIf="!item.button" class="col-6">
                                {{item.value}}
                            </div>
                            <div *ngIf="item.button" class="col-6">
                                <button mat-raised-button color="accent" (click)="item.action()">{{item.value |
                                    translate}}</button>
                            </div>
                        </div>
                    </ng-container>

                    <!-- DOCUMENT DETAILS -->

                    <ng-container *ngIf="documentSelected">
                        <div class="row justify-content-between pt-2 pb-2 align-items-center background-gray-dark">
                            <div class="col-auto">
                                <h5 class="mb-0">
                                    {{documentTitle}}
                                </h5>
                            </div>
                        </div>
                        <h5 class="mt-2">
                            {{'APP.MODELS-COMPONENT.DETAILS' | translate}}
                        </h5>
                        <div class="row mt-2 mb-2" *ngFor="let item of documentDetails">
                            <div class="col-6">
                                {{item.label | translate}}
                            </div>
                            <div *ngIf="!item.button" class="col-6">
                                {{item.value}}
                            </div>
                            <div *ngIf="item.button" class="col-6">
                                <button mat-raised-button color="accent" (click)="item.action()">{{item.value |
                                    translate}}</button>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>

                <ng-template #noneSelected>
                    <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                        <h6>{{'APP.MODELS-COMPONENT.NONE-SELECTED' | translate}}</h6>
                    </div>
                </ng-template>
            </div>

        </div>
    </div>

</div>